.main-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(151, 231, 247);
  padding-top: 1em;
  background-color: #97e7f7;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
}

.main-header > div > h2 {
  color: #ffff;
}

