.tweet {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  border: 5px solid #494949;
}

.tweet:hover {
  box-shadow: 7px 7px#4056A1;
}

.tweet:hover header,
.tweet:hover p,
.tweet:hover footer > label {
  opacity: 1;
}

.tweet > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 1em 0;
  background-color: inherit;
  background-image: none;
  align-items: center;
  opacity: 0.7;
}

.tweet > header > div.growable {
  padding-left: 0.5em;
  flex-grow: 1;
}

.tweet > article > label {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.tweet > header > .username {
  visibility: hidden;
}

.tweet:hover header > .username {
  color: gray;
  visibility: visible;
}

.tweet > p {
  font-size: 22px;
  font-weight: 100;
  padding: 1em;
  opacity: 0.7;
}

.tweet > footer {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 100;
}

.tweet > footer > .date-posted {
  padding: 1em 2em;
}

.tweet > footer > label {
  opacity: 0.7;
}

.tweet > footer > .tweet-icons {
  padding: 0.5em 2em;
}

.tweet > footer > .tweet-icons > i {
  margin-top: 0;
  padding-left: 0.5em;
  color: #4056A1;
}

.tweet > .separator {
  border-bottom: 5px solid #494949;
  margin: 0 0.5em;
}
